#city {
  text-transform: capitalize;
}

.block {
  display: block;
}

.fs-big {
  font-size: 60px;
}

.system {
  text-decoration: none;
}

#systemC {
  display: inline;
}

a {
  color: black;
  font-weight: 400;
}

a:hover {
  color: black;
  font-weight: 400;
}

.active {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

.active:hover {
  cursor: default;
  color: black;
  font-weight: 600;
}
