#city {
  text-transform: capitalize;
}

.block {
  display: block;
}

.fs-big {
  font-size: 80px;
  line-height: 70px;
}

.system {
  text-decoration: none;
}

#systemC {
  display: inline;
}

a {
  color: black;
  font-weight: 400;
}

a:hover {
  color: black;
  font-weight: 400;
}

.active {
  text-decoration: none;
  color: black;
  font-weight: 600;
  vertical-align: sub;
}

.active:hover {
  cursor: default;
  color: black;
  font-weight: 600;
  vertical-align: sub;
}

.temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.temperature .active:hover {
  text-decoration: none;
}

.forecast {
  margin-top: 4px;
  text-align: center;
  color: #000;
}

.forecast-date {
  font-size: 16px;
  opacity: 0.5;
}

.forecast-temp-min {
  opacity: 0.5;
}

.forecast-temps {
  font-size: 13px;
}

#forecastname {
  font-size: 16px;
  color: grey;
}
.weather-forecast {
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  padding-right: calc(var(--bs-gutter-x) * 0.5);
}

.mw-720 {
  max-width: 720px;
}
.center-cropped {
  object-fit: none; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
  height: 73px;
  width: 73px;
}

.grey {
  color: darkgrey;
}

.city-input {
  stroke: aquamarine;
}
